<html>
<head>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const NewFile = document.querySelector("#NewFileCheck");
            const CompleteRebuild = document.querySelector("#RebuildDatabase");
            const Deduping = document.querySelector("#RemoveDuplicates");
            NewFile.addEventListener("click",function () {
                fetch("/db/UpdateTheFaDatabase",{method:"POST"});
            })
            CompleteRebuild.addEventListener("click",function () {
                fetch("/db/RebuildFaDatabaseFromScratch",{method:"POST"});
            });
            Deduping.addEventListener("click",function () {
                fetch("/db/DedupeFiles",{method:"POST"});
            });
        });
    </script>
</head>
<body>
<p>Please Select your options</p>
<p>&nbsp;</p>
<p><button id="NewFileCheck"> CheckForNewFiles </button></p>
<p><button id="RebuildDatabase"> Rebuild Database Completely </button></p>
<p><button id="RemoveDuplicates"> Remove Duplicates </button></p>
</body>
</html>
