<%
let OutputObject = {
    MyQuery: MyQuery,
    Mylimit: Mylimit,
    Myoffset: Myoffset,
    SearchType: Searchtype
}%>
<head>
    <%-
    include('allviews_head');
    %>
    <meta name="rating" content="mature"/>
    <meta name="coverage" content="Worldwide"/>
    <meta name="distribution" content="Global"/>
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/scripts/viewerjs/dist/viewer.css" />
    <script src="/public/scripts/viewerjs/dist/viewer.min.js" ></script>
    <link rel="stylesheet" href="/public/stylesheets/FurryDbStyles.css"/>
    <script>
        window.playclicked = function() {
            function openInNewTab(url) {
                const win = window.open(url, '_blank');
                win.focus();
            }

            const imageElement = document.querySelector(".viewer-move");
            const WebpageUrl = imageElement.src.replace(/\.[^/.]+$/, "") + "_desc.html";
            openInNewTab(WebpageUrl);
        }
        window.viewerpiece = function() {
            window.gallery = new Viewer(document.getElementById('images'),{
                url:'hide',
                backdrop:'static',
                filter(image) {
                    return image.complete;
                },
                toolbar: {
                    zoomIn: 4,
                    zoomOut: 4,
                    oneToOne: 4,
                    reset: 4,
                    prev: 4,
                    play: {
                        show: 4,
                        size: 'large',
                        click: window.playclicked
                    },
                    next: 4,
                    rotateLeft: 4,
                    rotateRight: 4,
                    flipHorizontal: 4,
                    flipVertical: 4,
                },
            });
        }
        function Reopenviewer() {
            window.gallery.show();
        }
        function GoBack() {
            window.history.back();
        }
        function NextSet () {
            const URlBuilder2 = "//"+window.location.hostname+"/"+"<%= 'db/SearchType/' +Searchtype+"/Query/"+ MyQuery + "/total/" + Mylimit + "/offset/" + (parseInt(Myoffset) + parseInt(Mylimit)) %>";
            window.location = URlBuilder2;
        }
        function AssignEventsToButtons() {
            document.querySelector(".backButtonz").addEventListener("click",GoBack);
            document.querySelector(".ForwardButton").addEventListener("click",NextSet);
            document.querySelector(".ReopenButton").addEventListener("click",Reopenviewer);
        }
        document.addEventListener("DOMContentLoaded", function() {
            window.viewerpiece();
            window.gallery.update();
            window.gallery.show();
            AssignEventsToButtons();
        });
    </script>
    <title>Fa Database</title>
</head>

<body>
<%-
    include('allviews_body',OutputObject);
%>
<div id="images">
    <% MyResults.forEach(function (ResultImage) { %>
        <img hide="/furryart/<%= ResultImage.Image_file %>" alt="<%= ResultImage.Image_file %>"  style="display:none">
    <% }) %>
</div>
<div id="Reopen" style="position: fixed; top: -4px;left: 10px;z-index:9000;">
    <button class="ReopenButton">Reopen Viewer</button>
</div>
<div id="backButton" style="position: fixed;bottom: -4px;left: 10px;z-index:9000;">
    <button class="backButtonz">Back</button>
</div>
<div id="backButton" style="position: fixed;bottom: -4px;right: 10px;z-index:9000;">
    <button class="ForwardButton">Forward</button>
</div>
</body>