<%
let OutputObject = {
    MyQuery: MyQuery,
    Mylimit: Mylimit,
    Myoffset: Myoffset,
    SearchType: Searchtype
} %>
<head>
    <%-
    include('allviews_head');
    %>
    <meta name="rating" content="mature"/>
    <meta name="coverage" content="Worldwide"/>
    <meta name="distribution" content="Global"/>
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/public/stylesheets/FurryDbStyles.css"/>
    <title>Fa Database</title>
    <script src="/public/scripts/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/tbluemel/rtf.js/dist/jquery.svg.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/tbluemel/rtf.js/dist/jquery.svgfilter.min.js"></script>

    <script src="/public/scripts/rtf.js/dist/WMFJS.bundle.min.js"></script>
    <script src="/public/scripts/rtf.js/dist/EMFJS.bundle.min.js"></script>
    <script src="/public/scripts/rtf.js/dist/RTFJS.bundle.min.js"></script>
    <script src="/public/scripts/mammoth/mammoth.browser.min.js"></script>
    <script src="/ServerJs/webodf.js"></script>
    <script src="/ServerJs/wordme.js"></script>
    <script>
        function AssignEventsToButtons() {
            HandleRTFFiles();
            HandleTextFiles();
            HandlePDFFiles();
            HandleODTFiles();
            HandleDocFiles();
            HandleDocxFiles();
            document.querySelector(".backButtonz").addEventListener("click", GoBack);
            document.querySelector(".ForwardButton").addEventListener("click", NextSet);
        }

        function HandleRTFFiles() {
            Array.from(document.links).filter(f => f.innerText.endsWith(".rtf")).forEach(function (Link) {
                Link.addEventListener("click", event => {

                    OpenRTFFile(Link);
                    event.preventDefault();
                });
            });
        }

        function HandleTextFiles() {
            Array.from(document.links).filter(f => f.innerText.endsWith(".txt")).forEach(function (Link) {
                Link.addEventListener("click", event => {

                    ProcessTextFile(Link);
                    event.preventDefault();
                });
            });
        }

        function HandlePDFFiles() {
            Array.from(document.links).filter(f => f.innerText.endsWith(".pdf")).forEach(function (Link) {
                Link.addEventListener("click", event => {

                    ProcessPDFs(Link);
                    event.preventDefault();
                });
            });
        }

        function HandleODTFiles() {
            Array.from(document.links).filter(f => f.innerText.endsWith(".odt")).forEach(function (Link) {
                Link.addEventListener("click", event => {

                    ProcessODT(Link);
                    event.preventDefault();
                });
            });
        }

        function HandleDocFiles() {
            Array.from(document.links).filter(f => f.innerText.endsWith(".doc")).forEach(function (Link) {
                Link.addEventListener("click", event => {

                    ProcessDoc(Link);
                    event.preventDefault();
                });
            });
        }

        function HandleDocxFiles() {
            Array.from(document.links).filter(f => f.innerText.endsWith(".docx")).forEach(function (Link) {
                Link.addEventListener("click", event => {

                    ProcessDocx(Link);
                    event.preventDefault();
                });
            });
        }

        async function ProcessPDFs(Link) {
            ResetAllParts();
            const Element = `<embed src="/${Link.innerText}" width="50%" height="100%" type="application/pdf">`
            $(document.querySelector("#ContentContainerEmbed")).append(Element);
            await LoadDocumentNewTab();
        }

        async function ProcessTextFile(Link) {
            ResetAllParts();
            let Contents = await fetch("/" + Link.innerText)
            let Buffer = await Contents.text();
            document.querySelector("#ContentContainerTXT").innerText = Buffer;
            await LoadDocumentNewTab();
        }

        async function OpenRTFFile(Link) {
            ResetAllParts();
            RTFJS.loggingEnabled(false);
            WMFJS.loggingEnabled(false);
            EMFJS.loggingEnabled(false);
            let Contents = await fetch("/" + Link.innerText);
            let Buffer = await Contents.arrayBuffer();
            const doc = new RTFJS.Document(Buffer);

            const meta = doc.metadata();
            let DocRendered = await doc.render();
            let Container = $(document.querySelector("#ContentContainerRTF"));
            Container.append(DocRendered);
            await LoadDocumentNewTab();
        }

        function ResetAllParts() {
            document.querySelector("#ContentContainerTXT").innerText = "";
            document.querySelector("#ContentContainerRTF").innerHTML = "";
            document.querySelector("#ContentContainerEmbed").innerHTML = "";
        }

        document.addEventListener("DOMContentLoaded", function () {
            AssignEventsToButtons();
        });

        function GoBack() {
            window.history.back();
        }

        function NextSet() {
            const URlBuilder2 = "<%= 'https://serv.jfmhero.me/db/SearchType/' + Searchtype + "/Query/" + MyQuery + "/total/" + Mylimit + "/offset/" + (parseInt(Myoffset) + parseInt(Mylimit)) %>";
            window.location = URlBuilder2;
        }

        async function ProcessODT(Link) {
            ResetAllParts();
            let odfelement = document.getElementById("ContentContainerRTF");
            let odfcanvas = new odf.OdfCanvas(odfelement);
            let File = "/" + Link.innerText;
            odfcanvas.load(File);
            await LoadDocumentNewTab();
        }

        async function ProcessDoc(Link) {
            ResetAllParts();
            //let Iframe2 = `<iframe class="doc" src="https://docs.google.com/gview?url=https://serv.jfmhero.me/${Link.innerText}&embedded=true" width="50%" height="100%"></iframe>`
            //$(document.querySelector("#ContentContainerEmbed")).append(Iframe2);
            let documentfetch = await fetch("/" + Link.innerText);
            let DocumentBuffer = await documentfetch.arrayBuffer();
            let TrueBuffer = new Uint8Array(DocumentBuffer);
            let NodeBuffer = wordExtractor.Mybuffer.Buffer.from(TrueBuffer);
            let DocumentReal = await wordExtractor.WordExtractor.fromBuffer(NodeBuffer);
            let docelement = document.getElementById("ContentContainerTXT");
            docelement.innerText = DocumentReal.getBody();
            await LoadDocumentNewTab();
        }

        async function ProcessDocx(Link) {
            ResetAllParts();
            let Fetched = await fetch("/" + Link.innerText);
            let ArrayBuffer23 = await Fetched.arrayBuffer();
            let MammothDoc = await mammoth.convertToHtml({arrayBuffer: ArrayBuffer23});
            let Docxelement = document.getElementById("ContentContainerRTF");
            Docxelement.innerHTML = MammothDoc.value;
            await LoadDocumentNewTab();
        }
        async function LoadDocumentNewTab() {
            let contents = document.querySelector("html").cloneNode(true);
            let Selections = contents.querySelector("#ContentSelections");
            contents.querySelector("body").removeChild(Selections);
            let tab = window.open('about:blank', '_blank');
            tab.document.write(contents.outerHTML); // where 'html' is a variable containing your HTML
            tab.document.close(); // to finish loading the page
            ResetAllParts();
        }
    </script>
</head>
<body>
<%-
include('allviews_body',OutputObject);
%>
<div id="ContentContainerTXT">

</div>
<div id="ContentContainerEmbed">

</div>
<div id="ContentContainerRTF">

</div>
<div id="ContentSelections">
    <ul>
        <% MyResults.forEach(function (ResultImage) { %>
            <li><a href="/furryart/<%= ResultImage.Image_file.replace(/\.[^/.]+$/, "") + "_desc.html";
                %>"><%= ResultImage.Image_file %></a></li>
        <% }) %>
    </ul>
</div>
<div id="backButton" style="position: fixed;bottom: -4px;left: 10px;z-index:9000;">
    <button class="backButtonz">Back</button>
</div>
<div id="backButton" style="position: fixed;bottom: -4px;right: 10px;z-index:9000;">
    <button class="ForwardButton">Forward</button>
</div>
</body>