<html lang="en">
<%
    let OutputObject = {
        MyResults: MyResults,
        MyQuery: MyQuery,
        Mylimit: Mylimit,
        Myoffset: Myoffset,
        SearchType: Searchtype
    }%>
<%
if (Searchtype === "images") {
%>
    <%-
    include('FA_Images_Model',OutputObject);
    %>
<% } %>
<%
if (Searchtype === "stories") {
%>
    <%-
    include('FA_Stories_Model',OutputObject);
    %>
<% } %>
</html>