$ContentColor: #eeeeee;
$backgroundColor: #152836;


body {
  background-color: $backgroundColor
}

a {
  color: $ContentColor;
}

#ContentContainerRTF * {
  color: $ContentColor;
}

#ContentContainerTXT {
  color: $ContentColor;
}
